:root {
    --crab_blue: #00b2ff;
    --crab_blue_dark: #007db3;
    --crab_cyan: #b3d3d3;
    --crab_cyan_dark: #6c8080;
}

@font-face {
  font-family: 'Ubuntu-Remote';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu-Remote';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Ubuntu-Remote';
    font-size: large;
    background-image: linear-gradient(20deg, var(--crab_blue_dark), var(--crab_cyan_dark));
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

p,
h1 {
    margin: 0;
}

a,
a:hover,
a:visited,
a:active {
    /* color: inherit; */
    text-decoration: none;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid var(--crab_cyan_dark);
}

tr:last-child>td {
    border-bottom: none;
}

table {
    border-radius: 10px;
    border-spacing: 0;
    border: 1px solid var(--crab_cyan_dark);
}

button,
.button,
.input {
    margin: 1pc;
    font-size: large;
}

.admin_text {
    color: red;
    border-color: red;
    font-size: 14pt;
    margin: 0.5pc 0.5pc;
    margin-left: auto;
    align-self: flex-end;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* box-shadow: 0 0 4px 0 rgba(255, 255, 255, 1) inset; */
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

.cards {
    padding: 5pc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.crab_card {
    border-radius: 15px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    width: fit-content;
    margin: 10px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
}

.crab_card_title {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: top;
}

.crab_header {
    background-image: linear-gradient(20deg, var(--crab_blue), var(--crab_cyan));
    padding: 0.5pc;
    /* margin-top: 5pc; */
    /* margin-bottom: 1pc; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90pc;
    align-self: center;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.crab_header>* {
    padding: 0;
    padding: 0.5rem 1rem;
}

.fly {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    height: 75%;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.scroll-y {
    overflow-y: auto;
}

.page-space {
    /* padding-top: 1pc; */
    height: 1pc;
    /* padding-bottom: 1pc; */
}

.link_button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0.5pc 0.5pc;
    text-align: center;
    text-decoration: none;
    color: white;
    /* box-shadow: 0 0 4px 0 rgba(255, 255, 255, 1) inset; */
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    outline: none;
}